# This ignores root files & root directories, then un-ignores the root bin directory.
/*
!wp-content/

wp-activate.php
# ignore everything in the "wp-content" directory, except:
# mu-plugins, plugins, and themes directories
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/ 

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
